In [2]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\nirav\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\nirav\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\nirav\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\nirav\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nirav\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nirav\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\nirav\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nirav\anaconda3\lib\site-packages (from requests) (3.3)

In [3]:
from bs4 import BeautifulSoup
import requests

In [5]:
import pandas as pd

### 1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [160]:
page5=requests.get('https://en.wikipedia.org/wiki/Main_Page')
page5
soup=BeautifulSoup(page5.content)
a=soup.find(['h1','h2'])
a

### 2) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm and make data frame

In [6]:
page4=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup5=BeautifulSoup(page4.content)
name=[]
years=[]
for i in soup5.find_all('div',class_="presidentListing"):
    name.append(i.text.split('\n')[1])
    years.append(i.text.split('\n')[2].split(':')[1])
ans2=pd.DataFrame({'Name':name, 'Term of Office':years})

In [146]:
ans2

,Name,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

### 3) a) Top 10 ODI teams in menâ€™s cricket along with the records for matches, points and rating

In [89]:
page4=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup5=BeautifulSoup(page4.content)
teams=[]
matches=[]
points=[]
ratings=[]
records=[]
for i in soup5.find_all('span', class_="u-hide-phablet"):
    teams.append(i.text)
b=soup5.find('td', class_="rankings-block__banner--matches")
matches.append(b.text)

c=soup5.find('td', class_="rankings-block__banner--points")
points.append(c.text)
d=soup5.find('td', class_="rankings-block__banner--rating u-text-right")
ratings.append(d.text.split('\n')[1].lstrip())
for i in soup5.find_all('td', class_="table-body__cell u-center-text"):
    records.append(i.text)
for i in soup5.find_all('td', class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)
for i in range(0, len(records), 1):
    if (i%2==0):
        matches.append(records[i])
    else:
        points.append(records[i])
ans3a=pd.DataFrame({'Teams':teams[0:10], 'Matches':matches[0:10], 'Points':points[0:10], 'Rating':ratings[0:10]})
ans3a.index=range(1,ans3a.shape[0]+1)

In [90]:
ans3a

           Teams Matches Points Rating
1      Australia      23  2,714    118
2       Pakistan      20  2,316    116
3          India      33  3,807    115
4    New Zealand      27  2,806    104
5        England      24  2,426    101
6   South Africa      19  1,910    101
7     Bangladesh      25  2,451     98
8      Sri Lanka      28  2,378     85
9    Afghanistan      13  1,067     82
10   West Indies      32  2,201     69

### 3) b) Top 10 ODI Batsmen along with the records of their team andrating.

In [118]:
page5=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup6=BeautifulSoup(page5.content)
player=[]
team=[]
rating=[]
e=soup6.find('div',class_="rankings-block__banner--name-large")
player.append(e.text)
for i in soup6.find_all('td', class_="table-body__cell rankings-table__name name"):
    player.append(i.text.split('\n')[1])
f=soup6.find('div', class_="rankings-block__banner--nationality")
team.append(f.text.split('\n')[2])
for i in soup6.find_all('span', class_="table-body__logo-text"):
    team.append(i.text)
g=soup6.find('div',class_="rankings-block__banner--rating")
rating.append(g.text)
for i in soup6.find_all('td', class_="table-body__cell rating"):
    rating.append(i.text)
ans3b=pd.DataFrame({'Batsman':player[0:10], 'Team':team[0:10], 'Rating':rating[0:10]})
ans3b.index=range(1, ans3b.shape[0]+1)

In [120]:
ans3b

                  Batsman Team Rating
1              Babar Azam  PAK    886
2   Rassie van der Dussen   SA    777
3            Fakhar Zaman  PAK    755
4             Imam-ul-Haq  PAK    745
5            Shubman Gill  IND    738
6            Harry Tector  IRE    726
7            David Warner  AUS    726
8             Virat Kohli  IND    719
9         Quinton de Kock   SA    718
10           Rohit Sharma  IND    707

### 3) c) Top 10 ODI bowlers along with the records of their team and rating

In [124]:
page5=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup6=BeautifulSoup(page5.content)
player=[]
team=[]
rating=[]
e=soup6.find('div',class_="rankings-block__banner--name-large")
player.append(e.text)
for i in soup6.find_all('td', class_="table-body__cell rankings-table__name name"):
    player.append(i.text.split('\n')[1])
f=soup6.find('div', class_="rankings-block__banner--nationality")
team.append(f.text.split('\n')[2])
for i in soup6.find_all('span', class_="table-body__logo-text"):
    team.append(i.text)
g=soup6.find('div',class_="rankings-block__banner--rating")
rating.append(g.text)
for i in soup6.find_all('td', class_="table-body__cell rating"):
    rating.append(i.text)
ans3c=pd.DataFrame({'Batsman':player[0:10], 'Team':team[0:10], 'Rating':rating[0:10]})
ans3c.index=range(1, ans3c.shape[0]+1)

In [125]:
ans3c

             Batsman Team Rating
1     Josh Hazlewood  AUS    705
2     Mohammed Siraj  IND    691
3     Mitchell Starc  AUS    686
4         Matt Henry   NZ    667
5        Trent Boult   NZ    660
6         Adam Zampa  AUS    652
7        Rashid Khan  AFG    640
8     Shaheen Afridi  PAK    630
9   Mujeeb Ur Rahman  AFG    630
10     Mohammad Nabi  AFG    626

### 4) a)Top 10 ODI teams in womenâ€™s cricket along with the records for matches, points and rating

In [20]:
page3=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup4=BeautifulSoup(page3.content)
team=[]
for i in soup4.find_all('span', class_="u-hide-phablet"):
    team.append(i.text)

In [25]:
record=[]
for i in soup4.find_all('td', class_="table-body__cell u-center-text"):
    record.append(i.text)

In [40]:
match=[]
ranking=[]
a=soup4.find('td',class_="rankings-block__banner--matches")
match.append(a.text)
b=soup4.find('td',class_="rankings-block__banner--points")
ranking.append(b.text)

for i in range(0,len(record),1):
    if (i%2==0):
        match.append(record[i])
    else:
        ranking.append(record[i])

In [94]:
ans4a=pd.DataFrame({'Team':team[0:10], 'Matches':match[0:10], 'Ranking':ranking[0:10]})

In [95]:
ans4a.index=range(1,ans4a.shape[0]+1)

In [96]:
ans4a

            Team Matches Ranking
1      Australia      21   3,603
2        England      28   3,342
3   South Africa      26   3,098
4          India      27   2,820
5    New Zealand      28   2,688
6    West Indies      29   2,743
7     Bangladesh      14     977
8      Sri Lanka      12     820
9       Thailand      12     806
10      Pakistan      27   1,678

### 4) b)Top 10 womenâ€™s ODI Batting players along with the records of their team and rating

In [76]:
page4=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup5=BeautifulSoup(page4.content)
player=[]
country=[]
rating=[]
c=soup5.find('div', class_="rankings-block__banner--name")
player.append(c.text)
d=soup5.find('div', class_="rankings-block__banner--nationality")
country.append(d.text.split('\n')[2])
e=soup5.find('div', class_="rankings-block__banner--rating")
rating.append(e.text)
for i in soup5.find_all('td', class_="table-body__cell name"):
    player.append(i.text.split('\n')[1])
for i in soup5.find_all('span', class_="table-body__logo-text"):
    country.append(i.text)
for i in soup5.find_all('td', class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
ans4b=pd.DataFrame({'Name':player[0:10], 'Team':country[0:10], 'Rating':rating[0:10]})
ans4b.index=range(1,ans4b.shape[0]+1)

In [80]:
ans4b

                   Name Team Rating
1   Chamari Athapaththu   SL    758
2           Beth Mooney  AUS    754
3       Laura Wolvaardt   SA    732
4        Natalie Sciver  ENG    731
5           Meg Lanning  AUS    717
6      Harmanpreet Kaur  IND    716
7       Smriti Mandhana  IND    714
8          Ellyse Perry  AUS    626
9       Stafanie Taylor   WI    618
10       Tammy Beaumont  ENG    595

### 4) c) Top 10 womenâ€™s ODI all-rounder along with the records of their team and rating.

In [92]:
page4=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup5=BeautifulSoup(page4.content)
playerAR=[]
countryAR=[]
ratingAR=[]
f=soup5.find('div', class_="rankings-block__banner--name-large")
playerAR.append(f.text)
g=soup5.find('div', class_="rankings-block__banner--nationality")
countryAR.append(g.text.split('\n')[2])
h=soup5.find('div', class_="rankings-block__banner--rating")
ratingAR.append(h.text)
for i in soup5.find_all('td', class_="table-body__cell rankings-table__name name"):
    playerAR.append(i.text.split('\n')[1])
for i in soup5.find_all('span', class_="table-body__logo-text"):
    countryAR.append(i.text)
for i in soup5.find_all('td', class_="table-body__cell rating"):
    ratingAR.append(i.text)
ans4c=pd.DataFrame({'Name':playerAR[0:10], 'Team':countryAR[0:10], 'Rating':ratingAR[0:10]})
ans4c.index=range(1,ans4c.shape[0]+1)

In [93]:
ans4c

                Name Team Rating
1    Hayley Matthews   WI    382
2     Natalie Sciver  ENG    371
3       Ellyse Perry  AUS    366
4     Marizanne Kapp   SA    349
5        Amelia Kerr   NZ    328
6      Deepti Sharma  IND    322
7   Ashleigh Gardner  AUS    292
8      Jess Jonassen  AUS    250
9      Sophie Devine   NZ    233
10          Nida Dar  PAK    232

### 5) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame-

In [172]:
page=requests.get('https://www.cnbc.com/world/?region=world')
soup=BeautifulSoup(page.content)
news=[]
time=[]
link=[]
for i in soup.find_all('a',class_="LatestNews-headline"):
    news.append(i.text)
for i in soup.find_all('time', class_="LatestNews-timestamp"):
    time.append(i.text)
for i in soup.find_all('a',class_="LatestNews-headline"):
    link.append(i.get('href'))
ans5=pd.DataFrame({'Headline':news, 'Time':time, 'News link':link})

In [173]:
ans5

,Headline,Time,News link
0,"Buy Buy Baby auction is canceled, but buyers a...",11 Hours Ago,https://www.cnbc.com/2023/07/07/buy-buy-baby-a...
1,Elon Musk's Twitter sues top law firm Wachtell...,12 Hours Ago,https://www.cnbc.com/2023/07/07/elon-musks-twi...
2,Biogen falls after Alzheimerâ€™s drug approval. ...,12 Hours Ago,https://www.cnbc.com/2023/07/07/biogen-falls-a...
3,Justin Bieber's Bored Ape NFT has lost about 9...,12 Hours Ago,https://www.cnbc.com/2023/07/07/justin-biebers...
4,How the SAVE plan can help student loan borrow...,13 Hours Ago,https://www.cnbc.com/2023/07/07/save-plan-help...
5,While Americans fear a recession as severe as ...,13 Hours Ago,https://www.cnbc.com/2023/07/07/americans-fear...
6,Here's how much the $615 million Powerball jac...,14 Hours Ago,https://www.cnbc.com/2023/07/07/heres-how-much...
7,10 U.S. counties where prospective buyers need...,14 Hours Ago,https://www.cnbc.com/2023/07/07/most-expensive...
8,Two health-care stocks are in the headlines. H...,14 Hours Ago,https://www.cnbc.com/2023/07/07/two-health-car...
9,Fed's Goolsbee sees 'golden path' to lower inf...,14 Hours Ago,https://www.cnbc.com/2023/07/07/feds-goolsbee-...
10,Meta Threads doesn't need the 'negativity' of ...,14 Hours Ago,https://www.cnbc.com/2023/07/07/threads-doesnt...
11,Small businesses may have a hard time finding ...,14 Hours Ago,https://www.cnbc.com/2023/07/07/small-business...
12,June inflation data will be closely watched by...,14 Hours Ago,https://www.cnbc.com/2023/07/07/june-inflation...
13,Sales of Alzheimerâ€™s drug Leqembi may be slow ...,14 Hours Ago,https://www.cnbc.com/2023/07/07/alzheimers-dru...
14,"These stocks, plus Tesla, are this week's top ...",15 Hours Ago,https://www.cnbc.com/2023/07/07/these-stocks-i...
15,Job market expert: Tech roles are still â€˜the m...,15 Hours Ago,https://www.cnbc.com/2023/07/07/tech-jobs-are-...
16,Stocks making the biggest moves midday: Rivian...,16 Hours Ago,https://www.cnbc.com/2023/07/07/stocks-making-...
17,Twitter's desktop app sees surge in outages as...,16 Hours Ago,https://www.cnbc.com/2023/07/07/twitter-deskto...
18,Special counsel Jack Smith spent $5.4 million ...,16 Hours Ago,https://www.cnbc.com/2023/07/07/special-counse...
19,What Apple's big bet on India means for the te...,16 Hours Ago,https://www.cnbc.com/2023/07/07/what-apples-bi...
20,The unemployment rate among Black workers incr...,16 Hours Ago,https://www.cnbc.com/2023/07/07/the-unemployme...
21,These new ETFs give income investors different...,16 Hours Ago,https://www.cnbc.com/2023/07/07/new-etfs-give-...
22,We're not giving up on this struggling enterta...,17 Hours Ago,https://www.cnbc.com/2023/07/07/disneys-been-a...
23,Federal student loan repayment is about to cha...,17 Hours Ago,https://www.cnbc.com/2023/07/07/federal-studen...
24,"RFK Jr. touted bitcoin, but said he wasn't an ...",17 Hours Ago,https://www.cnbc.com/2023/07/07/rfk-jr-bitcoin...
25,Pay student loans or invest in your 401(k)? Wh...,17 Hours Ago,https://www.cnbc.com/2023/07/07/pay-student-lo...
26,This international stock pro outpaces peers wi...,17 Hours Ago,https://www.cnbc.com/2023/07/07/global-stock-p...
27,CEO says these 3 A.I. tools can make you more ...,18 Hours Ago,https://www.cnbc.com/2023/07/07/three-ai-tools...
28,This classic recession indicator just hit its ...,18 Hours Ago,https://www.cnbc.com/2023/07/07/yield-curve-in...
29,JPMorgan highlights its top stock picks headin...,18 Hours Ago,https://www.cnbc.com/2023/07/07/jpmorgan-highl...

### 6) Write a python program to scrape the details of most downloaded articles from AI in last 90days. https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles. Scrape below mentioned details and make data frame

In [170]:
page=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page

In [103]:
soup1=BeautifulSoup(page.content)

In [97]:
title=[]
for i in soup1.find_all('h2', class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    title.append(i.text)

In [98]:
author=[]
for i in soup1.find_all('span', class_="sc-1w3fpd7-0 dnCnAO"):
    author.append(i.text)

In [99]:
date=[]
for i in soup1.find_all('span', class_="sc-1thf9ly-2 dvggWt"):
    date.append(i.text)

In [100]:
url=[]
for i in soup1.find_all('a', class_="sc-5smygv-0 fIXTHm"):
    url.append(i.get('href'))

In [102]:
ans6=pd.DataFrame({'Paper Title' :title, 'Authors':author, 'Published Date':date, 'Paper URL':url})
ans6

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders LÃ¸land",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social humanâ€“robot in...,"SÃ©verin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"TomÃ¡Å¡ Kliegr, Å tÄ›pÃ¡n BahnÃ­k, Johannes FÃ¼rnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

### 7) Write a python program to scrape mentioned details from dineout.co.in and make data frame

In [106]:
page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

In [107]:
soup=BeautifulSoup(page.content)

In [110]:
names=[]
for i in soup.find_all('a', class_="restnt-name ellipsis"):
    names.append(i.text)

In [111]:
cuisine=[]
for i in soup.find_all('span', class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])

In [112]:
loc=[]
for i in soup.find_all('div', class_="restnt-loc ellipsis"):
    loc.append(i.text)

In [113]:
rat=[]
for i in soup.find_all('div', class_="restnt-rating rating-4"):
    rat.append(i.text)

In [114]:
img=[]
for i in soup.find_all('img', class_="no-img"):
    img.append(i.get('data-src'))

In [115]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\nirav\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\nirav\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\nirav\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\nirav\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\nirav\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [83]:
import pandas as pd

In [118]:
ans7=pd.DataFrame({'Restaurant_name':names, 'Cuisine':cuisine, 'Location':loc, 'Ratings':rat, 'Image_URL':img})

ans7

,Restaurant_name,Cuisine,Location,Ratings,Image_URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...